<div class="container">
  <p id="notice"><%= notice %></p>

<h1> List of Articles</h1>

<table>
  <%= render 'article', obj: @articles %>
</table>

<br>

<%= link_to 'New Article', new_article_path, class:"btn btn-outline-dark my-5" %>

</div>