<div class="py-5">
  <section class="about-section bg-color" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h3>Home</h3>
                <p>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites.</p>
                <p>Bootstrap is completely free to download and use!</p> <a href="#" class="btn btn-default-new">Start learning Bootstrap</a> </div>
        </div>
    </div>
</section>

<section class="service-section" id="services">
    <div class="container">
        <h3>service</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                      <i class="fas fa-laptop-code"></i>
                    </div>
                    <h4><a href="#">Speed of Development</a></h4>
                    <p>Rather than coding from scratch, Bootstrap enables you to utilize ready made blocks of code to help you get started.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                        <i class="fab fa-sass"></i>
                                        </div>
                    <h4><a href="#"> Responsiveness</a></h4>
                    <p>Creating mobile ready websites is a breeze with Bootstrap thanks to the fluid grid layout that dynamically adjusts to the proper screen resolution.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                      <i class="fab fa-phoenix-framework"></i>                    </div>
                    <h4><a href="#">Consistency</a></h4>
                    <p>Bootstrap ensures consistency regardless of who’s working on the project. </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                      <i class="fab fa-meetup"></i>                    </div>
                    <h4><a href="#">Customizable</a></h4>
                    <p>Bootstrap can be tailor made according to the specifications of your project.</p>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="portfolio-section" id="portfolio">
     <div class="portfolio-section-inner">
        <div class="portfolio-section-row">
            <div class="portfolio-section-data" style="background-image:url('https://s3-us-east-2.amazonaws.com/maryville/wp-content/uploads/2020/02/28151102/web-developers.jpg')">
                <div class="portfolio-section-text">
                   <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-section-data" style="background-image:url('https://images.unsplash.com/flagged/photo-1563536310477-c7b4e3a800c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRldmVsb3BlciUyMGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
                <div class="portfolio-section-text">
                   <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-section-data" style="background-image:url('https://images.unsplash.com/photo-1552960562-daf630e9278b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGRldmVsb3BlciUyMGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
                <div class="portfolio-section-text">
                   <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>
         </div>

          <div class="portfolio-section-row">

            <div class="portfolio-section-data" style="background-image:url('https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')">
                <div class="portfolio-section-text">
                   <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="portfolio-section-data" style="background-image:url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')">
                <div class="portfolio-section-text">
                    <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>

              <div class="portfolio-section-data" style="background-image:url('https://images.unsplash.com/photo-1557813282-bcd50093e38f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
                <div class="portfolio-section-text">
                    <div class="portfolio-section-text-inner">
                    <p>Portfolio</p>
                    <a href="#">read more</a>
                    </div>
                </div>
            </div>
         </div>

     </div>
</section>
<div class="container">
    <hr><%= link_to "About Us", about_path, class:"btn btn-lg btn-outline-dark my-5" %>
</div>
</div>
